// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$primary   : #4DA2FF;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$sea: #4DA2FF;
$medium-sea: #3d80c9;
$deep-sea: #2d5d91;
$light-ocean: #043a63;
$ocean: #011829;
$deep-ocean: #030f1c;
$aqua: #c0e6ff;
$cloud: #ffffff;


$colors: (
  sea: $sea,
  medium-sea: $medium-sea,
  deep-sea: $deep-sea,
  light-ocean: $light-ocean,
  ocean: $ocean,
  deep-ocean: $deep-ocean,
  aqua: $aqua,
  cloud: $cloud
);

@each $name, $color in $colors {  
  .bg-#{"" + $name} {
    background-color: $color !important;
  }
  .text-#{"" + $name} {
    color: $color !important;
  }
}